---
title: Home
description: Homepage description
layout: layouts/base.njk
templateClass: tpl-home
---

<h1>Github pages with Eleventy setup</h1>
<h2>Tutorial soon...stay tuned !</h2>
<a href="https://lea-tortay.com/">Lea Tortay</a>